body {
	color: var(--primary-text);
	transition: background 0.5s ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Lexend Giga', sans-serif;
	background-image: url('/background.svg');
	background-repeat: no-repeat;
	background-size: 50%;
	background-position: center;
	background-attachment: fixed;
}

.bg {
	animation: slide calc(3s / var(--bg-animation-speed)) ease-in-out infinite alternate;
	background-image: linear-gradient(-60deg, var(--primary) 50%, var(--primary-alt) 50%);
	bottom: 0;
	left: -50%;
	opacity: .5;
	position: fixed;
	right: -50%;
	top: 0;
	z-index: -1;
}

.bg2 {
	animation-direction: alternate-reverse;
	animation-duration: calc(4s / var(--bg-animation-speed));
}

.bg3 {
	animation-duration: calc(5s / var(--bg-animation-speed));
}

@keyframes slide {
	0% {
		transform: translateX(-25%);
	}

	100% {
		transform: translateX(25%);
	}
}
