button {
	margin-right: 5px;
	cursor: pointer;
	background-color: var(--secondary);
	color: var(--secondary-text);
	border-radius: var(--border-radius);
	border: 1px solid var(--secondary-text);
	height: 1.5rem;
}

button.icon>a {
	background-color: var(--secondary);
	color: var(--secondary-text);
}

button.big {
	background-color: var(--secondary);
	color: var(--secondary-text);
	border: none;
	border-radius: var(--border-radius);
	padding: 2px 8px;
	font-size: 28px;
	margin-top: 10px;
	height: fit-content;
}

button.wide {
	width: 100%;
}

button:hover {
	filter: brightness(140%);
}

button.icon {
	width: 2rem;
	height: 2rem;
	background-color: var(--secondary);
	color: var(--secondary-text);
	border: none;
	border-radius: var(--border-radius);
	margin: 10px 0 0 0;
	font-size: 1rem;
	font-weight: bold;
}

button.border {
	border: 1px solid var(--secondary-text);
}

button.icon.alt {
	color: var(--tertiary-text);
	background-color: var(--tertiary);
}

button.reset {
	background: none;
	border: none;
	margin-bottom: 0.3rem;
}

button.modal-button {
	margin-left: 3px;
	margin-bottom: 5px;
	margin-top: 10px;
	font-size: 16pt;
	height: 2.5rem;
}

.spread-out {
	display: flex;
	justify-content: space-between;
}
