button {
	margin-right: 5px;
	cursor: pointer;
	color: inherit;
	background-color: inherit;
	border-radius: var(--border-radius);
	border: 1px solid var(--secondary-text);
	height: 1.5rem;
}

button.icon>a {
	background-color: var(--secondary);
	color: var(--secondary-text);
}

button.big {
	background-color: var(--secondary);
	color: var(--secondary-text);
	border: none;
	border-radius: var(--border-radius);
	padding: 2px 8px;
	font-size: 28px;
	margin-top: 10px;
	height: fit-content;
}

button.wide {
	width: 100%;
}

button:hover {
	filter: brightness(140%);
}

button.icon {
	width: 2rem;
	height: 2rem;
	background-color: var(--secondary);
	color: var(--secondary-text);
	border: none;
	border-radius: var(--border-radius);
	margin: 10px 0 0 0;
	font-size: 1rem;
	font-weight: bold;
}

button.border {
	border: 1px solid var(--secondary-text);
}

button.icon.alt {
	color: var(--tertiary-text);
	background-color: var(--tertiary);
}

button.reset {
	background: none;
	border: none;
	margin-bottom: -0.3rem;
}

button.reset.shove-up {
	margin-bottom: 0;
	position: relative;
	top: -7px;
}

button.modal-button {
	margin-left: 3px;
	margin-bottom: 5px;
	margin-top: 10px;
	font-size: 16pt;
	height: 2.5rem;
}

/* Display an X over the button if it's disabled */
button.modal-button:disabled {
	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 100 100'><path d='M100 0 L0 100 ' stroke='white' stroke-width='6'/><path d='M0 0 L100 100 ' stroke='white' stroke-width='6'/></svg>");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%, auto;
	background-color: black;
	cursor: not-allowed;
}

.spread-out {
	display: flex;
	justify-content: space-between;
}

button.emphasis {
	border-color: var(--emphasis-text);
	color: var(--emphasis-text);
}
