.card {
	box-shadow: 2px 4px 4px 0 rgba(0,0,0,.5);
	transition: 0.3;
	border-radius: var(--border-radius);
	margin: 10px 0;
	width: 100%;
	color: var(--secondary-text);
	background-color: var(--secondary);
	transition: background 0.5s ease-in-out;
}

.card.alt {
	color: var(--tertiary-text);
	background-color: var(--tertiary);
}

.card-inner {
	padding: 2px 16px 16px 16px;
}

.card.highlight:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	filter: brightness(140%);
}

.expand-container {
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows 300ms;
}

.expand-container > div {
	overflow: hidden;
}

.expand-container.expanded {
	grid-template-rows: 1fr;
}

.fa-solid {
	transition: all 0.2s ease-in-out;
}

.inverted {
	rotate: 180deg;
}

div .page {
	max-width: 900px;
}

div .page > h1 {
	text-align: center;
}

.book-icon {
	position: relative;
	width: 128px; /* Don't allow book thumbnails to expand. Should all be the same size, but just in case */
}

.book-icon img {
	display: block;
}

img {
	border-radius: var(--border-radius);
}

img.thumbnail {
	max-width: 128px;
}

.audiobook-icon {
	position: absolute;
	top: 0;
	left: 0;
	padding: 3px;

	border-bottom-right-radius: var(--border-radius);
	border-top-left-radius: var(--border-radius);

	background-color: var(--secondary-text);
	color: var(--secondary);
}

.widget {
	box-shadow: 2px 4px 4px 0 rgba(0,0,0,.5);
	transition: 0.3;
	border-radius: var(--border-radius);
	margin: 10px;
	width: 100%;
	color: var(--secondary-text);
	background-color: var(--secondary);
	transition: background 0.5s ease-in-out;
}

.widget > div {
	padding: 2px 16px 16px 16px;
}

.widget > div > h3 {
	text-align: center;
}

@media (pointer: fine) {
	.widget-container{
		position: absolute;
		left: 3rem;
		right: 0;
		margin: auto;
		display: flex;
		align-items: stretch;
		justify-content: center;
	}

	.widget {
		max-width: 30rem;
		flex: 1 1 auto;
	}
}

@media (pointer: coarse) {
	.widget {
		width: 80vw;
	}
}
