.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3;
	border-radius: var(--border-radius);
	margin: 10px 0;
	width: 100%;
	color: var(--secondary-text);
	background-color: var(--secondary);
	transition: background 0.5s ease-in-out;
}

.card.alt {
	color: var(--tertiary-text);
	background-color: var(--tertiary);
}

.card-inner {
	padding: 2px 16px 16px 16px;
}

.card.highlight:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	filter: brightness(140%);
}

.expand-container {
	overflow: hidden;
	margin-top: -16px;
}

.expand-contract {
	-webkit-transform: scaleY(0);
	-o-transform: scaleY(0);
	-ms-transform: scaleY(0);
	transform: scaleY(0);

	-webkit-transform-origin: top;
	-o-transform-origin: top;
	-ms-transform-origin: top;
	transform-origin: top;

	-webkit-transition: -webkit-transform 0.26s ease-out;
	-o-transition: -o-transform 0.26s ease;
	-ms-transition: -ms-transform 0.26s ease;
	transition: transform 0.26s ease;
    position:absolute;
}

.expand-contract.expanded {
	-webkit-transform: scaleY(1);
	-o-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
    position: relative;
}
