.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3;
	border-radius: var(--border-radius);
	margin: 10px 0;
	width: 100%;
	color: var(--secondary-text);
	background-color: var(--secondary);
	transition: background 0.5s ease-in-out;
}

.card.alt {
	color: var(--tertiary-text);
	background-color: var(--tertiary);
}

.card-inner {
	padding: 2px 16px 16px 16px;
}

.card.highlight:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	filter: brightness(140%);
}

.expand-container {
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows 300ms;
}

.expand-container > div {
	overflow: hidden;
}

.expand-container.expanded {
	grid-template-rows: 1fr;
}

.fa-solid {
	transition: all 0.2s ease-in-out;
}

.inverted {
	rotate: 180deg;
}

div .page {
	max-width: 900px;
}

.book-icon {
	position: relative;
}

.book-icon img {
	display: block;
	border-radius: var(--border-radius);
}

.book-icon .audiobook-icon {
	position: absolute;
	top: 75%;
	left: 0;
	padding: 3px;

	border-bottom-right-radius: var(--border-radius);
	border-top-left-radius: var(--border-radius);

	background-color: var(--secondary-text);
	color: var(--secondary);
}

@media (pointer: coarse) {
	.book-icon .audiobook-icon {
		top: 0%;
	}
}