.code-input {
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
	background-color: #EEEEEE;
	border-radius: var(--border-radius);
	padding: 3px;
	color: black;
}

.code {
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
	background-color: #EEEEEE;
	border-radius: var(--border-radius);
	padding-left: 3px;
	padding-right: 3px;
	color: black;
	display: inline-block;
}

.oper {
	color: blue;
	font-weight: bold;
}

.func {
	color: #E87800;
	font-weight: bold;
	font-style: italic;
}

.str {
	color: green;
}

.wild {
	color: #c800cc;
	font-weight: bold;
}

.cursor {
	color: black;
	animation: blink 1s step-start infinite;
	position: absolute;
	margin-left: -3pt;
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}
