code-input {
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
	background-color: #EEEEEE;
	border-radius: var(--border-radius);
	padding: 3px;
	color: black;
	display: inline-block;
	width: calc(100% - 3rem);
}

.code {
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
	background-color: #ffffff40;
	border-radius: var(--border-radius);
	color: var(--secondary-text);
	padding-left: .5rem;
	padding-right: .5rem;
}

div.code {
	padding: .5rem;
	margin: .5rem;
}

.oper {
	color: blue;
	font-weight: bold;
}

.func {
	color: #E87800;
	font-weight: bold;
	font-style: italic;
}

.str {
	color: green;
}

.wild {
	color: #c800cc;
	font-weight: bold;
}

.code>.oper {
	color: #82B2ED;
}

.code>.func {
	color: #f5a147;
}

.code>.str {
	color: greenyellow;
}

.code>.wild {
	color: #e861eb;
}

.code.oper {
	color: #82B2ED;
}

.code.func {
	color: #f5a147;
}

.code.str {
	color: greenyellow
}

.code.wild {
	color: #e861eb;
}

.regex-delim {
	color: #E87800;
}

.regex-escape {
	color: rgb(111, 172, 129);
}

.regex-punct {
	color: gray;
}

.regex-range {
	color: rgb(20, 92, 173);
}

.cursor {
	color: black;
	animation: blink 1s step-start infinite;
	position: absolute;
	margin-left: -3pt;
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}
