.code-input {
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
	background-color: #EEEEEE;
	border-radius: 3px;
	padding-left: 3px;
	padding-right: 3px;
	color: black;
	height: 1.5rem;
}

.code {
	font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
	background-color: #EEEEEE;
	border-radius: 3px;
	padding-left: 3px;
	padding-right: 3px;
	color: black;
	display: inline-block;
}

.oper {
	color: blue;
}

.func {
	color: orange;
}

.str {
	color: green;
}

.cursor {
	color: black;
	animation: blink 1s step-start infinite;
	position: absolute;
	margin-left: -3pt;
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}
