html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	color: var(--primary-text);
	background-color: var(--primary);
}

h1 {
	color: var(--secondary-text);
	background-color: var(--secondary);
	padding: 5px 0;
}
