[name="modal"] {
	position: absolute;
}

[name="upload_modal"] {
	position: absolute;
}

dialog {
	background-color: rgba(0,0,0,0.4);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	background-color: var(--secondary);
	color: var(--secondary-text);
	padding: 2px 16px;
	border: 1px solid var(--secondary-text);
	border-radius: var(--border-radius);
}

.modal {
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows 200ms;
}

.modal > div {
	overflow: hidden;
}

.modal.expanded {
	grid-template-rows: 1fr;
}

.close {
	color: var(--secondary-text);
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.close:hover .close:focus {
	filter: brightness(140%);
	text-decoration: none;
}
