[name="modal"] {
	position: absolute;
}

[name="upload_modal"] {
	position: absolute;
}

dialog {
	background-color: rgba(0,0,0,0.4);
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	background-color: var(--secondary);
	color: var(--secondary-text);
	padding: 2px 16px;
	border: 1px solid var(--secondary-text);
	border-radius: var(--border-radius);
	max-width: 85%;
}

.modal {
	display: grid;
	grid-template-rows: 0fr;
	transition: grid-template-rows 200ms;
}

.modal > div {
	overflow: hidden;
}

.modal.expanded {
	grid-template-rows: 1fr;
}

.close {
	color: var(--secondary-text);
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.close:hover .close:focus {
	filter: brightness(140%);
	text-decoration: none;
}

.checkmark > circle {
	stroke-dasharray: 216; /* ORIGINALLY 166px */
	stroke-dashoffset: 216; /* ORIGINALLY 166px */
	stroke-width: 2;
	stroke-miterlimit: 10;
	stroke: var(--error-text);
	fill: none;
	animation: stroke 0.2s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark {
	width: 106px; /* ORIGINALLY 56px */
	height: 106px; /* ORIGINALLY 56px */
	border-radius: 50%;
	display: block;
	stroke-width: 2;
	stroke: var(--secondary-text);
	stroke-miterlimit: 10;
	margin: 10% auto;
	box-shadow: inset 0px 0px 0px var(--error-text);
	animation: fill .2s ease-in-out .2s forwards, scale .3s ease-in-out .4s forwards, fade .2s linear .7s forwards;
}

.checkmark > path {
	transform-origin: 50% 50%;
	stroke-dasharray: 98; /* ORIGINALLY 48px */
	stroke-dashoffset: 98; /* ORIGINALLY 48px*/
	animation: stroke 0.2s cubic-bezier(0.65, 0, 0.45, 1) 0.4s forwards;
}

.floating {
	position: fixed;
	z-index: 9999;
	top: 25%;
	display: none;
}

.floating.checkmark {
	display: block;
}

@keyframes stroke {
	100% {
		stroke-dashoffset: 0;
	}
}
@keyframes scale {
	0%, 100% {
		transform: none;
	}
	50% {
		transform: scale3d(1.1, 1.1, 1);
	}
}
@keyframes fill {
	100% {
		box-shadow: inset 0px 0px 0px 80px var(--error-text);
	}
}
@keyframes fade {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}