/* up button */
i.rank-direction {
	cursor: pointer;
	float: right;
	padding: 10px 5px;
}

i.rank-direction:hover {
	color: var(--emphasis-text);
}

ranked-choice {
	position: relative;
	height: auto;
	background-color: white;
	color: black;
	border-radius: var(--border-radius);
	display: inline-block;
	transition: all .5s ease-in-out;
	padding-left: 2px;
}

ranked-choice>option {
	height: 1.5rem;
	position: relative;
	height: auto;
	transition: all .5s ease-in-out;
	border-radius: var(--border-radius);
	font-size: 80%;
}
