/*Theme will always be the first imported script*/
@import url('/css/theme.css');

/*Font to use throughout the whole page*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/*Animated "loading" placeholder icon*/
@import url('https://css.gg/spinner.css');

@import url('/css/background.css');
@import url('/css/modal.css');
@import url('/css/card.css');
@import url('/css/button.css');
@import url('/css/tooltip.css');
@import url('/css/code.css');

progress {
	display: block;
}

input {
	height: 1.5rem;
}

input.invalid {
	background-color: #e09daf;
}

.center {
	margin: 0 auto;
	width: 90%;
}

.disabled {
	color: var(--disabled-text);
}

.navbar {
	position: fixed;
	padding-left: 1rem;
	top: 0;
	left: 0;
}

.top {
	top: 0;
}

.left {
	float: left;
}

.bottom {
	position: fixed;
	bottom: 1rem;
}

.right {
	float: right;
}

.hidden {
	opacity: 0;
}

.visible {
	opacity: 1;
}

.fade {
	transition: all 0.25s ease-in-out;
}

.tag {
	display: inline-flex;
	border: 1px solid var(--secondary-text);
	border-radius: 3px;
	margin-top: 5px;
	margin-right: 5px;
	padding-left: 2px;
	padding-right: 2px;
	cursor: default;
}

.clickable {
	cursor: pointer;
}

.error {
	color: var(--error-text);
}

/* Truncate text for different screen sizes */
.truncate {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@media all and (min-width: 500px ) and (max-width: 599px) {
	.truncate {
		max-width: 475px;
	}
}

@media all and (min-width: 400px ) and (max-width: 499px) {
	.truncate {
		max-width: 375px;
	}
}

@media all and (min-width: 300px ) and (max-width: 399px) {
	.truncate {
		max-width: 275px;
	}
}

@media all and (max-width: 299px) {
	.truncate {
		max-width: 175px;
	}
}
