:root {
	--primary: #66cc33;
	--primary-alt: #0099ff;
	--primary-text: #ffffff;

	--secondary: #141e26;
	--secondary-text: #ffffff;

	--tertiary: #14361e;
	--tertiary-text: #ffffff;

	--error-text: #ff7800;
	--disabled-text: #606060;

	--border-radius: 5px;
}
