/* Tooltip container */
.tooltip {
	position: relative;
	margin-left: 10px;
	cursor: pointer;
}

.t-float-right {
	left: 0%;
	bottom: 0% !important;
	margin-left: 2.5rem;
}

/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	width: 200px;
	background-color: var(--secondary);
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: var(--border-radius);

	/* Position the tooltip text */
	position: absolute;
	z-index: 1;
	bottom: 125%;
	outline: 1px solid var(--secondary-text);

	/* Fade in tooltip */
	opacity: 0;
	transition: opacity 0.3s;

	font-style: normal;
	font-weight: normal;
	font-family: 'Poppins', sans-serif;
}

.tooltip .alt {
	background-color: var(--tertiary);
}

.t-left {
	right: 0%;
	margin-left: -60px;
}

.t-center {
	left: 0%;
	margin-left: -100px;
}

.t-right {
	left: 0%;
	margin-left: 0px;
}

/* Show the tooltip text when you mouse over the tooltip container */

/* Show on hover if using a PC */
@media (pointer: fine) {
	.tooltip:hover .tooltiptext {
		visibility: visible;
		opacity: 1;
	}
}

/* Show on press & hold if using a mobile device */
@media (pointer: coarse) {
	.tooltip:active:hover .tooltiptext {
		visibility: visible;
		opacity: 1;
	}

	.tooltip:hover .t-persist {
		visibility: visible;
		opacity: 1;
	}
}